
.tecnology {
    color: #ffff;
}

.tecnology h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 80px;
}

.tecnology .tecnology-grid{
    display: grid;
    grid: 1fr 1fr;
    max-width: 50rem;
    margin: 0 auto;
}

.tecnology .tecnology-grid .element {
    margin-left: 20px;
    margin-bottom: 60px;
    cursor: pointer;
}

.tecnology .tecnology-grid .element h3 {
    font-size: 14px;
    font-weight: 500;
}

@media (min-width: 375px) and (max-width: 425px){
    .tecnology {
        height: 60vh;
        margin-top: 40px;
    }

    .tecnology h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .tecnology .tecnology-grid{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        margin-right: 20px;
    }

    .tecnology .tecnology-grid .element svg {
        width: 80px;
    }
}

@media (min-width: 768px) {

    .tecnology {
        height: 60vh;
    }

    .tecnology h2 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .tecnology .tecnology-grid{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tecnology .tecnology-grid .element svg {
        width: 100px;
    }
}

@media (min-width: 1024px) {
    .tecnology {
        height: 60vh;
    }

    .tecnology h2 {
        font-size: 40px;
        margin-bottom: 80px;
    }

    .tecnology .tecnology-grid{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .tecnology .tecnology-grid .element svg {
        width: 100px;
    }
}

@media (min-width: 1280px) {
    .sobre {
        height: 60vh;
    }
}

@media (min-width: 1920px) {

    .tecnology h2 {
        font-size: 44px;
        margin-bottom: 80px;
    }

    .tecnology .tecnology-grid .element svg {
        width: 120px;
    }
}