
.section-tecnologia{
    color: #ffff;
    height: 80vh;

    h2 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 80px;
    }
}

.container-tecnologia {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-grid{
    display: grid;
    grid-template-columns: repeat(4, 240px);

    .div-svg {
        margin-left: 20px;
        margin-bottom: 60px;
        cursor: pointer;

        h3 {
            font-size: 14px;
            font-weight: 500;
        }
    }
}

@media (max-width: 848px){

    .section-tecnologia h2{
        font-size: 38px;
    }

    .section-grid {
        grid-template-columns: repeat(4, 200px);
    }
}

@media (max-width: 712px) {
    .section-tecnologia h2{
        font-size: 36px;
    }

    .section-grid {
        grid-template-columns: repeat(3, 200px);
    }
}

@media (max-width: 524px) {
    .section-tecnologia h2{
        font-size: 34px;
    }

    .section-grid {
        grid-template-columns: repeat(3, 180px);
    }
}

@media (max-width: 476px) {
    .section-tecnologia h2{
        font-size: 32px;
    }

    .section-grid {
        grid-template-columns: repeat(2, 200px);
    }
}