

.home {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;   
    gap: .75rem;    
}

.home .home-info h1 {
    font-size: 6em;
    font-weight: 700;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.btn-home {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

.efeito {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn-home svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn-home:hover {
  transition: 1s ease-in-out;
}

.btn-home:hover svg {
  stroke-dashoffset: -480;
}

.btn-home span a {
  color: white;
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
}
