

.home {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;    
}

.home .home-info h1 {
    font-size: 6em;
    font-weight: 600;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-home {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

.btn-home:hover {
  border: 1px solid #fff;
}

.btn-home a {
  color: white;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}


@media (min-width: 320px ) and (max-width: 425px){
    .home .home-info h1 {
      font-size: 3.5em;
      font-weight: 700;
  }

  .btn-home {
      width: 160px;
  }
}