
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px 0;
    z-index: 1000;
    background-color: #0d1321;
}

.header img {
    width: 54px;
    margin-left: 50px;
    margin-top: 10px;
}

.header ul {
    display: flex;
    align-items: center;
}

.header li {
    list-style-type: none;
    margin-left: 70px;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}

.header a:hover {
    color: #E5E9FA;
    transition: all 0.3s ease;
}
