
.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
    li {
        width: 50px;
        display: flex;
        align-items: center;  
        padding: 8px;

        a {
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            margin-right: 14px;
        }
    }
}
/*Fazer um push lateral, quando clicar, apareça o menu lateral*/

@media (max-width: 950px){
    .side-menu {
        display: none;
    }
}

