
.sobre {
    height: 50vh;
}

.sobre-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sobre-info {
    color: #fff;
    margin-left: 70px;

    h2 {
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    p {
        width: 800px;
        font-size: 18px;
        text-align: justify;
        margin-bottom: 20px;
    }

    a {
        color: #237BF7;

        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
    }

    a:hover {
        color: rgb(23, 23, 241);
    }
}


.sobre-image img{
    width: 300px;
}
