
.sobre {
    height: 80vh;
}

.sobre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.sobre-info {
    color: #fff;
    text-align: center;

    h2 {
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    p {
        width: 800px;
        font-size: 18px;
        text-align: justify;
        margin-bottom: 20px;
    }

    a {
        color: #237BF7;

        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
    }

    a:hover {
        color: rgb(23, 23, 241);
    }
}

@media (max-width: 896px){
    .sobre-info {
        p {
            width: 600px;
        }
    }
}

@media (max-width: 640px){
    .sobre-info {

        h2 {
            font-size: 30px;
        }

        p {
            width: 500px;
            font-size: 18px;
        }
    }
}

@media (max-width: 524px) {
    .sobre-info {

        h2 {
            font-size: 28px;
        }

        p {
            width: 400px;
            font-size: 17px;
        }
    }
}

@media (max-width: 420px) {
    .sobre-info {
        p {
            width: 320px;
            font-size: 17px;
        }
    }
}