
.sobre {
    height: 50vh;
}

.sobre-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 64rem;
    margin: 0 auto;
}

.sobre-info {
    color: #fff;
    margin-left: 70px;

    h2 {
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    p {
        width: 800px;
        font-size: 17px;
        text-align: justify;
        margin-bottom: 20px;
    }

    a {
        color: #237BF7;

        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
    }

    a:hover {
        color: rgb(23, 23, 241);
    }
}


.sobre-image img{
    width: 300px;
}


@media (min-width: 320px ) and (max-width: 425px){

    .sobre {
        margin-right: 50px;
    }

    .sobre-info h2 {
        font-size: 30px;
    }

    .sobre-info p {
        width: 320px;
    }

    .sobre-image img{
        display: none;
    }
    
}

@media (min-width: 768px) {

    .sobre {
        height: 40vh;
    }

    .sobre-info h2 {
        font-size: 40px;
    }

    .sobre-info p {
        width: 500px;
    }

    .sobre-image img{
        overflow: hidden;
    }
}

@media (min-width: 1024px) {

    .sobre {
        height: 60vh;
    }

    .sobre-info h2 {
        font-size: 40px;
    }

    .sobre-info p {
        width: 750px;
    }
}

@media (min-width: 1280px) {
    .sobre {
        height: 60vh;
    }

    .sobre-info h2 {
        font-size: 40px;
    }

    .sobre-info p {
        width: 800px;
        padding: 20px 60px;
    }
}

@media (min-width: 1920px) {

    .sobre-info p {
        font-size: 19px;
        width: 800px;
        padding: 20px 60px;
    }
}